@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #74bec782;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 3px;
}

input:hover {
    font-weight: bold;
}

#add {
    margin: 20px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #386b72;
    color: white;
    font-weight: bold;
}

li {
    background-color: azure;
    border-radius: 8px;
    padding: 8px;
    margin: 5px;
    list-style-type: none;
}

li:hover {
    background-color: rgba(128, 128, 128, 0.463);
    cursor: pointer;
}

.deletar {
    margin-left: 8px;
}

.deletar::before {
    content:"\274C";
    font-size: .8em;
}

.concluida {
    text-decoration: line-through;
    color: gray;
}

#contador {
    background-color: #386b72;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
}